<!doctype html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/bb46a8da97.js" crossorigin="anonymous"></script>
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="./templates/Decor.css">
  </head>

  <body>
  <div class="container">
    <h1>Predict Sentiment Analysis</h1>
    <div class="box">
      <i class='fas fa-comment-alt' style='font-size:14px;color:white'></i>
      <input type="review" name="review" id="review" placeholder="Enter Your Review">   
    </div> 
    <button class="bn">Submit</button>
  </div>
  </body>
</html>